<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
<div class="container-fluid">
    {% include 'header.html'%}
    <div class="panel-heading">
    {% block headmessage %} {% endblock %}
    </div>
    <div class="panel-body">
    {% block content %} {% endblock %}
    </div>
    <div class="panel-footer">
    {% include 'footer.html'%}
    </div>
</div>
</body>
</html>