<!-- detail.html (ch07www project) -->
{% extends "base.html" %}
{% block title %}{{product.nickname | default:"找不到指定的手机"}}{% endblock %}
{% block content %}
<div class='container' align=center>
{% if product %}
<table>
    <tr><td align=center><h3>{{ product.nickname }}</h3></td></tr>
    <tr><td align=center>{{ product.description }}</td></tr>
    <tr><td align=center>公元{{ product.year }}年出厂</td></tr>
    <tr><td align=center>售价：NT${{ product.price }}元</td></tr>
    {% for image in images %}
        {% if forloop.first %} 
            <tr><td align=center>
        {% endif %}
            <img src='{{ image.url }}' width=350><br>
        {% if forloop.last %}
            </td></tr>
        {% endif %}
    {% empty %}
        <tr><td align=center>暂无图片</td></tr>
    {% endfor %}
</table>
{% else %}
<h2>找不到指定的手机</h2>
{% endif %}

</div>
{% endblock %}