<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>产品自动化测试平台</title>
</head>
<body role="document">
<!--navigation-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-center">
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: white" href="#">{{ user }}</a></li>
            <li class="nav-link"><a style="color: white" href="/logout">quit</a></li>
        </ul>
    </div>
</nav>
<!--bug 列表-->
<div class="row" style="padding-top: 70px;">
    <div class="col-md-11">
        <table class="table table-stripped">
            <thead>
            <tr>
                <th>ID</th><th>产品</th><th>bug名称</th><th>bug描述</th><th>bug状态</th><th>严重程度</th><th>创建人</th><th>解决人</th><th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            {% for bug in bugs %}
            <tr>
                <td>{{ bug.id }}</td>
                <td>{{ bug.Product.product_name }}</td>
                <td>{{ bug.bug_name }}</td>
                <td>{{ bug.bug_detail }}</td>
                <td>{{ bug.bug_status }}</td>
                <td>{{ bug.bug_level }}</td>
                <td>{{ bug.bug_creator}}</td>
                <td>{{ bug.bug_assignee}}</td>
                <td>{{ bug.created_time}}</td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>