<!-- post2db.html (ch08www project) -->
{% extends "base.html" %}
{% block title %}我有话要说{% endblock %}
{% block content %}
<div class='container'>
{% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endif %}

<form name='my form' action='.' method='POST'>
    {% csrf_token %}
    <table>
    {{ post_form.as_table }}
    </table>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6Ldyq0EUAAAAACKYGA3ROwLQ9ZBtmsq94dyYB429"></div>
    <input type='submit' value='张贴'>
    <input type='reset' value='清除重填'>
</form>
</div>
{% endblock %}