[TEST_CONFIG]
TEST_SUITE_NAME = R_TESTSUITE_R
COMPONENT= R_COMPONENT_R
TEST_CASE_TYPE = R_TESTCASETYPE_R
FEATURE = R_FEATURE_R
AUTOMATION = yes
RCA = no

TEST_CASE_LIST = "
R_ALLTESTCASE_R
"

GIT_LINK = "none"

CREATED_DATE = R_CREATEDATE_R

RELEASE_NAME = R_RELEASENAME_R
