<!-- index.html (ch07www project) -->
{% extends "base.html" %}
{% block title %}DJ二手手机卖场{% endblock %}
{% block content %}
<div class='container'>
{% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endif %}

<form name='my form' action='/' method='GET'>
    现在的心情：<br/>
    {% for m in moods %}
    <input type='radio' name='mood' value='{{ m.status }}'>{{ m.status }}
    {% endfor %}
    <br/>
    心情留言板：<br/>
    <textarea name='user_post' rows=3 cols=70></textarea><br/>
    <label for='user_id'>你的昵称：</label>
    <input id='user_id' type='text' name='user_id'>
    <label for='user_pass'>张贴/删除密码：</label>
    <input id='user_pass' type='password' name='user_pass'><br/>
    <input type='submit' value='张贴'>
    <input type='reset' value='清除重填'>
</form>
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
            <h3>~~宝宝心里苦，宝宝只在这里说~~</h3>
    </div>
</div>

<div class="row">
{% for p in posts %}
 <div class="col-sm-12 col-md-4">
  <div class='panel panel-primary'>
        <div class='panel-heading'>【{{ p.nickname }}】觉得{{ p.mood }}</div>
        <div class='panel-body'>{{ p.message | linebreaks }}</div>
        <div class='panel-footer' align='right'>
			<i><small>{{ p.pub_time }}</small></i>
			<span class="glyphicon glyphicon-trash" onclick='go_delete({{p.id}})'></span>
		</div>
       </div>
     </div>
{% endfor %}
</div>
<script>
function go_delete(id){
    var user_pass = document.getElementById('user_pass').value;
    if (user_pass != "") {
        var usr = '/' + id + '/' + user_pass;
        window.location = usr;
    }
}
</script>

<!-- <form name='my form' action='' method='GET'>
    <label for='byear'>出生年份:</label>
    <select name='byear'>
        {% for year in years %}
        <option value='{{ year }}'>{{ year }}</option>
        {% endfor %}
    </select><br>

    喜欢的颜色（可复选）：
    <input type='checkbox' name='fcolor' value='Green'>Green
    <input type='checkbox' name='fcolor' value='Red'>Red
    <input type='checkbox' name='fcolor' value='Blue'>Blue
    <input type='checkbox' name='fcolor' value='Yellow'>Yellow
    <input type='checkbox' name='fcolor' value='Orange'>Orange<br/>

    <label for='user_id'>Your ID:</label>
    <input id='user_id' type='text' name='user_id'>
    <label for_'user_pass'>Your Password:</label>
    <input id='user_pass' type='password' name='user_pass'>
    <input type='submit' value='登录'>
    <input type='reset' value='清除重填'>
</form>

Your ID:{{ urid | default:"未输入ID"}}<br/>
出生年：{{uryear | default:'未输入出生年份'}}
<br>
颜色喜好：
{% for c in urfcolor %}
    {{ c }}
{% empty %}
    没有选择任何颜色
{% endfor%}
<br/>

{% if verified %}
    <em>你通过了验证</em>
{% else %}
    <em>密码或账号打错了</em>
{% endif %}
</div> -->

{% endblock %}